<div class="container">
    <h1 class="red-text text-lighten-2">Bem-vindo</h1>
    <p>
        Este é o Simple Knowledge Base, criado para compartilhar seu conhecimento, seja particular ou para um time.
        <br>
        Para iniciar, crie categorias que identifiquem os registros de conhecimento.
        <br>
        Em seguida, faça registros de conhecimento alocando categorias.
        <br>
        Para pesquisar, você pode filtrar pelas categorias para facilitar encontrar o que precisa.
    </p>
    <a routerLink="/knowledge">Consultar registros de conhecimento</a>
  </div>
  