<div class="container">
  <h1 class="red-text text-lighten-2">Incluir Categoria</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="description" name="description" type="text" class="validate" [(ngModel)]="this.category.description" />
          <label for="description">Descrição</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn" (click)="this.save()"
          ><i class="material-icons left">save</i>Salvar</a
        >
      </div>
    </form>
  </div>
</div>
